.form-tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Dark-Black;

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 3rem 0;
    padding: 3rem 0;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;

    input {
      padding: 1rem 2rem;
      margin: 1rem;
      background-color: $white;
      border: none;
      border: 2px solid #eee;
      border-radius: 0.5rem;
      width: 50rem;
      &::placeholder {
        font-size: 1.4rem;
        font-weight: 500;
        color: $Dark-Black;
        text-transform: capitalize;
      }
    }

    button {
      margin: 4rem 0;
    }
  }
}
