@media only screen and (max-width: 900px) and (min-width: 600px) {
  html {
    font-size: 55%;
  }

  .Login {
    flex-direction: column;
  }
  .Register {
    flex-direction: column;
  }
  .Sidebar {
    width: 100%;
    height: 5rem;
    justify-content: flex-start;
    padding-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Login-layout {
    width: 100%;
  }
  .Register-layout {
    width: 100%;
  }
  .form {
    width: 90%;
    height: 70%;
  }

  .hero-section {
    nav {
      font-size: 1rem;
    }
  }

  .types .sub-section {
    flex-direction: column;
  }

  .Popup .content {
    flex-direction: column;
  }
  .Popup .content .imges {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Popup .content .imges img {
    max-width: 100%;
    min-height: 100%;
  }
  .Popup .content .text-area {
    width: 100%;
    height: 60%;
  }
  .Popup .content .text-area h3 {
    text-align: center;
    margin: 1rem;
  }
  .Popup .content .text-area .parah {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .Popup .content .text-area .parah p {
    text-align: left;
    width: 50%;
    height: 100%;
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .Popup .content .text-area .parah button {
    width: 10%;
    margin: 0;
  }
}
